{%extends 'base.html'%}

{%block content%}

</br></br>
{% for item in kt %}
    <div class = "row">
        <div class = "col">
            <div class = "image">
                <img src= "{{ item.image.url }}" style="width: 25rem;"><a href="{{ item.url }}" target = "_blank">                    
            </div>
        </div>
    </div>

{% endfor %}
</br></br></br></br></br></br>
{% for item in com %}
    <div class = "row">
        <div class = "col">
            <div class = "image">
                <img src= "{{ item.image.url }}" style="width: 25rem;"><a href=" {{ item.url }}" target = "_blank">                    
            </div>
        </div>
    </div>

{% endfor %}
    
{%endblock%}