{%extends 'base.html'%}

{%block content%}
<center>
<Strong><h1>Infiltration</h1></strong>
</br></br></br>
<div class="row">
    <div class = "col">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><STRONG><h5>BEHIND ENEMY LINES</h5></strong>
          <h6 class="card-subtitle mb-2 text-muted">Infiltration</h6>
          <p class="card-text">You can reveal this Tac Ops in the Target Reveal step of any Turning Point.</p>
          <ul>
            <li>If one or more friendly operatives are wholly within your opponent's drop zone and more than 3" from enemy operatives,you score 1VP.</li>
            <li>If you achieve the first condition at the end of any subsequent Turning Points, you score 1VP.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class = "col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><STRONG><h5>IMPLANT</h5></strong>
          <h6 class="card-subtitle mb-2 text-muted">Infiltration</h6>
          <p class="card-text">You can reveal this Tac Ops when you would strike an enemy operative in a combat.</p>
          <ul>
            <li>Instead of inflicting damage on an enemy operative from that strike, you can implant that operative instead. That operative does not lose any wounds from that strike and you score 1VP.</li>
            <li>If two enemey operatives are implanted, you score 1VP.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class = "col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><STRONG><h5>CAPTURE HOSTAGE & INFILTRATE</h5></strong>
                <h6 class="card-subtitle mb-2 text-muted">Infiltration</h6>
                <p class="card-text">You can reveal this Tac Ops when an enemy operative is incapacitated by a firendly  operative within 2" of it, and that friendly operative is more then 6" from other enemy operatives.</p>
                <ul>
                    <li>Remove that friendly operative from the killzone and you score 1VP.</li>
                    <li>If you achieve the first condition and it is the third or fourth Turning Point, you score 1VP.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</br></br>
<div class="row">
    <div class = "col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><STRONG><h5>INTERLOPER</h5></strong>
                <h6 class="card-subtitle mb-2 text-muted">Infiltration</h6>
                <p class="card-text">After selecting this Tac Ops, secretly select one friendly operative to be your interloper. You must reveal this Tac Ops when your interloper performs the <Strong>Interlope</strong> acTion.</p>
                <ul>
                    <li>Remove your interloper from the killzone and score 2VPs.</li>
                </ul>
                <strong><p>INTERLOPE (1AP)</P></strong>
                    <p>Perform this action while within 1" of an enemy killzone edge and more than 3" from enemy operatives.</p>
            </div>
        </div>
    </div>

    <div class = "col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><STRONG><h5>UPLOAD VIRAL CODE</h5></strong>
                <h6 class="card-subtitle mb-2 text-muted">Infiltration</h6>
                <p class="card-text">You can reveal this Tac Ops in the Target Reveal step of any Turning Point.</p>
                <ul>
                    <li>If a friendly operative performs the <strong>Upload Viral Code</strong> action, you score 1VP.</li>
                    <li>If you achieve the first condition in any subsequent Turning Point, you score 1VP.</li>
                </ul>
                <p>Friendly operatives can perform the following action:
                <strong><p>UPLOAD VIRAL CODE (2AP)</P></strong>
                    <p>An operative can perform this action while within 6" of you opponent's drop zone and not within 2" of enemy operatives.</p>
            </div>
        </div>
    </div>

    <div class = "col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><STRONG><h5>SABOTAGE</h5></strong>
                <h6 class="card-subtitle mb-2 text-muted">Infiltration</h6>
                <p class="card-text">You can reveal this Tac Ops in the Target Reveal step of any Turning Point.</p>
                <ul>
                    <li>If a terrain feature is sabotaged by friendly operatives, you score 1VP.</li>
                    <li>If any other terrain feature is sabotaged by friendly operatives, you score 1VP.</li>
                </ul>
                <p>Friendly operatives can perform the following action:
                <strong><p>SABOTAGE (2AP)</P></strong>
                    <p>An operative can perform this action while within 1" of a terrain feature that includes any parts with the Heavy trait that is wholly within or within 6" of you opponents drop zone that has not been sabotaged by friendly operatives.
                        An operative cannot peform this action whilst within 2" of an enemy operative. If this action is performed by friendly operatives, that terrain feature has been sabotaged by friendly operatives.
                    </p>
            </div>
        </div>
    </br></br></br></br>
    </div>

</br></br>
  

</div>


             
{%endblock%}