{%extends 'base.html'%}

{%block content%}
    <h1> Veteran Guardsman </h1> </br></br>

    <form method = "POST" action="{% url 'krieg' %}">
        {% csrf_token %}

        <div class="col">
            <div class="team_name">
                <input class="form-control" type="text" placeholder="Team Name" name = "name" >
            </div>
        </div>
        
    </br>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <strong><label class="input-group-text" for="kommando_form">Leader</label></strong>
                    </div>
                    <select class="form-control" id="kommando_form" name = "Unit01">
                        <option selected>Choose Leader</option>
                        <option value="Unit01">Kommando Knob With Slugga and Big Choppa</option>
                        <option value="Unit01">Kommando Knob With Slugga and Power Klaw</option>
                    </select>
                </div>
            </div>

        </div><!--ROW DIV CLOSE-->

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <strong><label class="input-group-text" for="inputGroupSelect02">Rokkit Boy</label></strong>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name = "unit">
                        <option selected>Choose Boy</option>
                        <option value="Kommando Rokkit Boy">Kommando Rokkit Boy</option>
                        <option value="Kommando Boy">Kommando Boy</option>
                    </select>
                </div>
            </div>
        </div><!--ROW DIV CLOSE-->

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <strong><label class="input-group-text" for="inputGroupSelect01">Slasha Boy</label></strong>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name = "unit">
                        <option selected>Choose Boy</option>
                        <option value="Kommando Slasha Boy">Kommando Slasha Boy</option>
                        <option value="Kommando Boy">Kommando Boy</option>
                    </select>
                </div>
            </div>
        </div><!--ROW DIV CLOSE-->

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <strong><label class="input-group-text" for="inputGroupSelect01">Comms Boy</label></strong>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name = "unit">
                        <option selected>Choose Boy</option>
                        <option value="Kommando Comms Boy">Kommando Comms Boy</option>
                        <option value="Kommando Boy">Kommando Boy</option>
                    </select>
                </div>
            </div>
        </div><!--ROW DIV CLOSE-->

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <strong><label class="input-group-text" for="inputGroupSelect01">Breacha Boy</label></strong>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name = "unit">
                        <option selected>Choose Boy</option>
                        <option value="Kommando Breacha Boy">Kommando Breacha Boy</option>
                        <option value="Kommando Boy">Kommando Boy</option>
                    </select>
                </div>
            </div>
        </div><!--ROW DIV CLOSE-->

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <strong><label class="input-group-text" for="inputGroupSelect01">Snipa Boy</label></strong>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name = "unit">
                        <option selected>Choose Boy</option>
                        <option value="Kommando Snipa Boy">Kommando Snipa Boy</option>
                        <option value="Kommando Boy">Kommando Boy</option>
                    </select>
                </div>
            </div>
        </div><!--ROW DIV CLOSE-->

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <strong><label class="input-group-text" for="inputGroupSelect01">Dakka Boy</label></strong>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name = "unit">
                        <option selected>Choose Boy</option>
                        <option value="Kommando Dakka Boy">Kommando Dakka Boy</option>
                        <option value="Kommando Boy">Kommando Boy</option>
                    </select>
                </div>
            </div>
        </div><!--ROW DIV CLOSE-->

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <strong><label class="input-group-text" for="inputGroupSelect01">Burna Boy</label></strong>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name = "unit">
                        <option selected>Choose Boy</option>
                        <option value="Kommando Burna Boy">Kommando Burna Boy</option>
                        <option value="Kommando Boy">Kommando Boy</option>
                    </select>
                </div>
            </div>
        </div><!--ROW DIV CLOSE-->
        

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <strong><label class="input-group-text" for="inputGroupSelect01">Kommando Boy</label></strong>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name = "unit">
                        <option selected>Choose Boy</option>
                        <option value="Kommando Boy">Kommando Boy</option>
                        <option value="Bomb Squig">Bomb Squig</option>
                    </select>
                </div>
            </div>
        </div><!--ROW DIV CLOSE-->

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <strong><label class="input-group-text" for="inputGroupSelect01">Kommando Boy</label></strong>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name = "unit">
                        <option selected>Choose Boy</option>
                        <option value="Kommando Boy">Kommando Boy</option>
                        <option value="Kommando Grot">Kommando Grot</option>
                    </select>
                </div>
            </div>
        </div><!--ROW DIV CLOSE-->

    </br></br></br></br>
        <button type="submit" class="btn btn-dark">Save</button>
    </form>

        
    
{%endblock%}