{%extends 'base.html'%}

{%block content%}

<center>
    <Strong><h1>Recon</h1></strong>
    </br></br></br>
    <div class="row">
        <div class = "col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><STRONG><h5>OVERRUN</h5></strong>
              <h6 class="card-subtitle mb-2 text-muted">Recon</h6>
              <p class="card-text">You can reveal this Tac Ops in the Target Reveal step of any Turning Point.</p>
              <ul>
                <li>At the end of any Turning Point, if a friendly operative is wholly within each killzon quarter and more than 3" from the centre of the killzone, you score 1VP.</li>
                <li>If you achieve the first condition at the end of any subsequent Turning Points, you score 1VP.</li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class = "col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><STRONG><h5>RETRIEVAL</h5></strong>
              <h6 class="card-subtitle mb-2 text-muted">Recon</h6>
              <p class="card-text">Reveal this Tac Ops in the Target Reveal step of the first Turning Point. Your opponent placees your Retrieval token anywhere in the killzone that is not on a Vantage Point and not wholly within or within 3" of
                their drop zone. The <strong>Pick Up</strong> action can be performed by friendly operatives upon your Retrieval token.
              </p>
              <ul>
                <li>At the end of the battle, if a friendly operative controls your Retrieval token, you score 1VP.</li>
                <li>At the end of the battle, if your Retrieval token is being carried by a friendly operative, you score 1VP.</li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class = "col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><STRONG><h5>MARK TARGET</h5></strong>
                    <h6 class="card-subtitle mb-2 text-muted">Recon</h6>
                    <p class="card-text">You can reveal this Tac Ops when a friendly operative performs a <strong>Shoot</strong> action.</p>
                    <ul>
                        <li>When an enemy <strong>Leader</strong> operative is selected as the target of a shooting attack for a <strong>Shoot</strong> action, and no other shooting attacks are made for that action, you can attempt to mark that operative instead. Complete the
                        shooting sequence as normal, except that if any damage would be inflicted on that enemy operative, it does not lose any wounds and you score 1VP.</li>
                        <li>If you achieve the first condition at the end of any subsequent Turning Points, you score 1VP.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </br></br>
    <div class="row">
        <div class = "col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><STRONG><h5>TRIANGULATE</h5></strong>
                    <h6 class="card-subtitle mb-2 text-muted">Recon</h6>
                    <p class="card-text">You can reveal this Tac Ops in the Target Reveal step of any Turning Point.</p>
                    <ul>
                        <li>If two killzone edges are triangulated by friendly operatives, you score 1VP.</li>
                        <li>If three killzone edges are triangulated by friendly operatives, you score an additional 1VP.</li>
                    </ul>
                    <strong><p>TRIANGULATE (1AP)</P></strong>
                        <p>An operative can perform this action while within 3" of a killzone edge that is not your own killzone edge and has not been triangulated by friendly operatives.
                            An operative cannot perform this action while within 2" of enemy operatives. If this action is performed by a friendly operative, that killzone edge has been triangulated by friendly operatives.
                        </p>
                </div>
            </div>
        </div>
    
        <div class = "col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><STRONG><h5>PLANT SIGNAL BEACON</h5></strong>
                    <h6 class="card-subtitle mb-2 text-muted">Recon</h6>
                    <p class="card-text">You can reveal this Tac Ops when a friendly operative peforms the <strong>Plant Signal Beacon</strong> action.</p>
                    <ul>
                        <li>At the end of the battle, if your signal beacon is within 6" of your opponents drop zone, you score 2VPs. </li>
                    </ul>
                    <p>Once per battle, a friendly operative can perform the following mission action:
                    <strong><p>PLANT SIGNAL BEACON (2AP)</P></strong>
                        <p>Place a signal beacon token within 1" of this operative. An operative cannot perform this action while within 2" of enemy operatives. If any enemy operatives finish a move within 1" of the centre of your
                            beacon token and more than 2" from friendly operatives, remove that signal beacon.
                        </p>
                </div>
            </div>
        </div>
    
        <div class = "col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><STRONG><h5>VANTAGE</h5></strong>
                    <h6 class="card-subtitle mb-2 text-muted">Recon</h6>
                    <p class="card-text">You can reveal this Tac Ops in the Target Reveal step of any Turning Point.</p>
                    <ul>
                        <li>If a friendly operative peforms the <strong>Vantage</strong> action, you score 1VP.</li>
                        <li>If you achieve the first condition and it is the third or fourth Turning Point, you score 1VP.</li>
                    </ul>
                    <p>Friendly operatives can perform the following action:
                    <strong><p>VANTAGE (2AP)</P></strong>
                        <p>An operative can perform this action while on a Vantage Point that is not within your drop zone and has not been secured by friendly operatives. An operative cannot perform this action whilst within 2" of enemy operatives.
                            If this action is performed by friendly operatives, that Vantage Point has be secured by friendly operatives.
                        </p>
                </div>
            </div>
        </br></br></br></br>
        </div>
    
    </br></br>
      
    
    </div>

    
{%endblock%}