{%extends 'base.html'%}

{%block content%}

<center>
    <Strong><h1>Security</h1></strong>
    </br></br></br>
    <div class="row">
        <div class = "col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><STRONG><h5>HOLD THE LINE</h5></strong>
              <h6 class="card-subtitle mb-2 text-muted">Security</h6>
              <p class="card-text">You can reveal this Tac Ops in the Target Reveal step of any Turning Point after the first.</p>
              <ul>
                <li>At the end of any Turning Point, if there are no enemy operatives within 6" of your drop zone, you score 1VP.</li>
                <li>If you achieve the first condition at the end of any subsequent Turning Points, you score 1VP.</li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class = "col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><STRONG><h5>PROTECT ASSETS</h5></strong>
              <h6 class="card-subtitle mb-2 text-muted">Security</h6>
              <p class="card-text">You can reveal this Tac Ops in the Target Reveal step of any Turning Point.</p>
              <ul>
                <li>At the end of any turning point, if two or more enemy operatives were incapacitated whislt within 2" of an objective marker during that Turning Point, and/or while carrying an objective during
                    that Turning Point, you score 1VP.
                </li>
                <li>If you achieve the first condition at the end of any subsequent Turning Points, you score 1VP.</li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class = "col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><STRONG><h5>SIEZE GROUND</h5></strong>
                    <h6 class="card-subtitle mb-2 text-muted">Security</h6>
                    <p class="card-text">Reveal this Tac Ops in the Target Reveal step of the first Turning Point. Select one terrain feature that is more than 3" from your drop zone and includes any parts with the Heavy trait.</p>
                    <ul>
                        <li>At the end of the battle, if the total APL of friendly operatives within 1"of that terrain feature is greater than that of enemy operatives, you score 1VP. </li>
                        <li>If you achieve the first condition, there are no enemy operatives on or within 1" of that terrain feature, and the total APL of friendly operatives within 1" is f or more, you score 1VP.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </br></br>
    <div class="row">
        <div class = "col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><STRONG><h5>CENTRAL CONTROL</h5></strong>
                    <h6 class="card-subtitle mb-2 text-muted">Security</h6>
                    <p class="card-text">You can reveal this Tac Ops in the Target Reveal step of any Turning Point.</p>
                    <ul>
                        <li>At the end of any Turning Point, if the total APL of friendly operatives within 3" of the centre of the killzone is greater than that of enemy operatives, you score 1vp.</li>
                        <li>If you achieve the first condition at the end of any subsequent Turning Points, you score 1VP.</li>
                    </ul>

                </div>
            </div>
        </div>
    
        <div class = "col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><STRONG><h5>DAMAGE LIMITATION</h5></strong>
                    <h6 class="card-subtitle mb-2 text-muted">Security</h6>
                    <p class="card-text">You can reveal this Tac Ops in the Target Reveal step of any Turning Point after the first.</p>
                    <ul>
                        <li>At the end of any Turning Point, if no friendly operatives were incapacitated during that Turning Point, you score 1VP.</li>
                        <li>If you achieve the first condition in any subsequent Turning Point, you score 1VP.</li>
                    </ul>

                </div>
            </div>
        </div>
    
        <div class = "col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><STRONG><h5>PLANT BANNER</h5></strong>
                    <h6 class="card-subtitle mb-2 text-muted">Security</h6>
                    <p class="card-text">After selecting this Tac Ops, secretly select one friendly operative to be carrying you Banner token. Reveal this Tac Ops when that operative drops your Banner token. When you do, untill the end of the battle, the <strong>Pick Up</strong> action can 
                    be performed by friendly operatives upon your Banner token.</p>
                    <ul>
                        <li>At the end of the battle, if you Banner token is within 6" of but not wholly within your opponent's dropzone, you score 1VP.</li>
                        <li>At the end of the battle, if you Banner token is  wholly within your opponent's dropzone, you score 2VPs.</li>
                    </ul>
                    <p>Friendly operatives can perform the following action:
                    <strong><p>DESTROY BANNER (1AP)</P></strong>
                        <p>An operative can perform this action while within 1" of the centre of an opponent's Banner token. Remove that Banner token from the killzone. An operative cannot perform this action while within 2" of enemy operatives.
                        </p>
                </div>
            </div>
        </br></br></br></br>
        </div>
    
    </br></br>
      
    
    </div>

    
{%endblock%}