{%extends 'base.html'%}

{%block content%}

<center>
    <Strong><h1>Seek and Destroy</h1></strong>
    </br></br></br>
    <div class="row">
        <div class = "col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><STRONG><h5>ROUT</h5></strong>
              <h6 class="card-subtitle mb-2 text-muted">Seek and Destroy</h6>
              <p class="card-text">You can reveal this Tac Ops in the Target Reveal step of any Turning Point.</p>
              <ul>
                <li>If an enemy operative is incapacitated by a friendly operative that is within 6" of your opponent's dropzone, you score 1VP.</li>
                <li>If you achieve the first condition at the end of any subsequent Turning Points, you score 1VP.</li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class = "col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><STRONG><h5>ROB AND RANSACK</h5></strong>
              <h6 class="card-subtitle mb-2 text-muted">Seek and Destroy</h6>
              <p class="card-text">You can reveal this Tac Op when an enemy operative is incapacitated by a friendly operative within 1" of it, and that friendly operative is more than 3" from other enemy operatives.</p>
              <ul>
                <li>If any other enemy operatives are incapacitated by another shooting attack made by your Marksman, you score 1VP.</li>
                <li>At the end of the battle, if you have achived the first condition and your Marksamn has not been incapacitated, you score 1VP.</li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class = "col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><STRONG><h5>HEADHUNTER</h5></strong>
                    <h6 class="card-subtitle mb-2 text-muted">Seek and Destroy</h6>
                    <p class="card-text">Reveal this Tac Op when an enemy <strong>LEADER</strong>operative is incapacitated.</p>
                    <ul>
                        <li>You score 1VP.</li>
                        <li>If its the first or second Turning Point, you score 1VP.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </br></br>
    <div class="row">
        <div class = "col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><STRONG><h5>EXECUTION</h5></strong>
                    <h6 class="card-subtitle mb-2 text-muted">Seek and Destroy</h6>
                    <p class="card-text">Reveal this Tac Op at the end of any Turning Point in which more enemy operatives were incapacitated than friendly operatives were incapacitated during that Turning Point.</p>
                    <ul>
                        <li>At the end of the battle, if more enemy operatives than friendly operatives were incapacitated during two or more Turning Points, you score 1VP.</li>
                        <li>At the end of the battle, if more enemy operatives than friendly operatives were incapacitated during three or more Turning Points, you score 1VP.</li>
                    </ul>

                </div>
            </div>
        </div>
    
        <div class = "col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><STRONG><h5>DEADLY MARKSMAN</h5></strong>
                    <h6 class="card-subtitle mb-2 text-muted">Seek and Destroy</h6>
                    <p class="card-text">After selecting this Tac Ops, secretly select one friendly operative to be your Marksman. You can reveal this Tac Ops when an enemy operative is incapacitated by a shooting attack
                        made by your Marksman while your Marksman is wholly within 3" of your dropzone.
                    </p>
                    <ul>
                        <li>If any other enemy operatives are incapacitated by another shooting attack made by your MArksman, you score 1VP.</li>
                        <li>At tje end of the battle, if you achived the first condition and your Marksman has not been incapacitated, you score 1VP.</li>
                    </ul>

                </div>
            </div>
        </div>
    
        <div class = "col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><STRONG><h5>CHALLENGE</h5></strong>
                    <h6 class="card-subtitle mb-2 text-muted">Seek and Destroy</h6>
                    <p class="card-text">Reveal this Tac Ops in the Target Reveal step of the first Turning Point. Select one enemy operative and one friendly operative.</p>
                    <ul>
                        <li>If that enemy operative is incapacitated by that friendly operative, you score 1VP.</li>
                        <li>If you achieve the first condition while that enemy operative is within 6" of that friendly operative, you score 1VP.</li>
                    </ul>
                </div>
            </div>
        </br></br></br></br>
        </div>
    
    </br></br>
      
    
    </div>


{%endblock%}